
/* Master styles */


h2 {
  color: #8e130b;
  text-decoration: none;
}

/* primarni font naj bo Roboto, ostalo isto */


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.tipue_search_button {
  width: 100px;
  height: 37px;
  border: 0;
  border-radius: 1px;
  background: #8e130b url(search.png) no-repeat center;
  outline: none;
}